services:
  application:
    build:
      context: .
      dockerfile: dockerfiles/php/Dockerfile
    image: application
    container_name: application
    tty: true
    ports:
      - "9000:9000"
    volumes:
      - .:/var/www
    networks:
      - laravel_app
    depends_on:
      - postgres

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - .:/var/www
      - ./dockerfiles/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - laravel_app

  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: all_in_one_backend
      POSTGRES_USER: root
      POSTGRES_PASSWORD: nB46s8zOALLeiv83hB7j6BUZNmtvt
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - laravel_app

volumes:
  postgres_data:

networks:
  laravel_app:
    driver: bridge
